{% extends 'bookings/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}


{% block main-content %}
<div class="container-fluid container-md mt-5">
<div class="  card bg-dark text-white">
  <img src="{% static 'bookings/images/COVID-19-vaccine-banner.jpg' %}" alt="" srcset="" class="card-img">
  <div class="card-img-overlay">
    <p class="card-title  text-dark h1 first1" id='first1'>Historic & Unparalleled Achievement ! India’s Glorious Journey of</p>
    <p class="card-text text-dark h4 mt-2" id='first2'>Get Vaccinated in Easy Steps.</p>
    <p class="card-text text-body mt-2 first3">"India is set to defeat Covid-19. Every Indian is making it possible."</p>
  </div>
</div> 
</div>


  {% endblock main-content %}  

